body{
    background-color: lightgray;
}
#loginform{
    margin-top: 20px;
}
#newAcc{
    text-align: center;
}
/*.jumbotron {
    margin: 200px;
}*/

.btn-primary {
    display: block;
    margin: 0 auto;
}
label{
    color: black;
    cursor: pointer;
}
/*label.login{
    color: white;
}*/